{% extends 'virtdibs/base.html' %}
{% load widget_tweaks %}
{% block body_block %}
<br><br>

  {% if validlink %}
    <div class="container">
      <div class="jumbotron">
        <h3>Change password</h3>
    </div>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
          {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" %}
              {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}
          {% if field.help_text %}
            <small class="form-text text-muted">
              {{ field.help_text|safe }}
            </small>
          {% endif %}
      </div>
    {% endfor %}
    <button type="submit">Change password</button>
  </form>
  {% else %}
  <div class="container">
    <div class="jumbotron">
      <h3>The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</h3>
    </div>
  {% endif %}
<br><br><br>
{% endblock %}
