{% extends "virtdibs/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block body_block %}
  <div class="container">
      {% if registered %}
      <div class="jumbotron">
        <h1>Thank you for registering!</h1>
      </div>
      {% else %}
        <div class="jumbotron" style="margin-left: 25%; margin-right:25%;">
          <h3><b>Register Details:</b></h3>
          <p>Fill out the following form in the format specified.</p>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% for field in customer_form %}
            <div class="form-group">
              {{ field.label_tag }}

                {% if form.is_bound %}

                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}

                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}

                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}

            </div>
          {% endfor %}

          {% for field in user_form %}
            <div class="form-group">
              {{ field.label_tag }}

                {% if form.is_bound %}

                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}

                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}

                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}

            </div>
          {% endfor %}
          <div class="form-group">
               <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit" value="Register">Register</button>
         </div>
        </form>
      {% endif %}
    </div>
    </div>
    <br><br><br><br><br><br>
{% endblock %}
